<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Venta boleto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <ion-item>
      <ion-label position="floating">Nombre(s)</ion-label>
      <ion-input type="text" class="input-venta" text-center></ion-input>
  </ion-item>
  <br>
  <br>
  <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" class="input-venta" text-center></ion-input> 
  </ion-item>
  <br>
  <br>
  <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="number" class="input-venta" text-center></ion-input> 
  </ion-item>
  <br>
  <br>
</ion-content>
