<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Generar QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="secondary" expand="full" strong="true" (click)=createArrayString()>Crear Codigos QR</ion-button>
  <ion-card *ngFor="let string of strings">
    <ion-card-content>
      <ngx-qrcode [qrc-value]="string"></ngx-qrcode>
      <p>Value: {{string}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

